# === Laravel ===
/vendor
/node_modules

# Environment
.env
.env.*

# Storage
/storage/*.key
/storage/logs/*
/storage/framework/*
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore

# Cache
/bootstrap/cache/*
!/bootstr
